extends ./layout.jade

block content
  section.splash
    a.splash__item.splash__item--studio(href="/welcome")
      .splash__title Studio
    a.splash__item.splash__item--weddings(href="http://weddings.sanchezstudio.co")
      .splash__title Weddings
    div.splash__logo
      include ./../public/images/logo.svg
