extends ./layout.jade

block content
  section.welcome
    div.welcome__inner
      div.welcome__item.welcome__item--logo
        include ./../public/images/logo.svg
      div.welcome__item.welcome__item--title Coming Soon
      ul.social
        li.social__items
          a.social__link(href="mailto:hello@sanchezstudio.co")
            include ./../public/images/social/email.svg
        li.social__items
          a.social__link(target="_blank" href="https://vimeo.com/megsanchez")
            include ./../public/images/social/vimeo.svg
        li.social__items
          a.social__link(target="_blank" href="https://www.instagram.com/sanchezstudioco/")
            include ./../public/images/social/instagram.svg
        li.social__items
          a.social__link(target="_blank" href="https://www.facebook.com/sanchezstudioco/")
            include ./../public/images/social/facebook.svg
        li.social__items
          a.social__link(target="_blank" href="https://twitter.com/sanchezstudioco")
            include ./../public/images/social/twitter.svg
