extends ./layout.jade

block content
  section.welcome
    div.welcome__inner
      div.welcome__item.welcome__item--logo
        include ./../public/images/logo.svg
      div.welcome__item.welcome__item--dot •
      div.welcome__item.welcome__item--title Coming Soon
