footer
  ul.social
    li.social__items
      a.social__link(href="mailto:hello@sanchezstudio.co") email
    li.social__items
      a.social__link(target="_blank" href="https://vimeo.com/megsanchez") vimeo
    li.social__items
      a.social__link(target="_blank" href="https://www.instagram.com/sanchezstudioco/") instagram
    li.social__items
      a.social__link(target="_blank" href="https://www.facebook.com/sanchezstudioco/") facebook
    li.social__items
      a.social__link(target="_blank" href="https://twitter.com/sanchezstudioco") twitter
  p &copy; Copyright 2017 Sanchez Studio. All Rights Reserved.
